*{
box-sizing: border-box;
margin: 0;
padding: 0;
scroll-behavior: smooth;
}
body{
    background: var(--body-bg);
}
a{
    color: unset;
    text-decoration: none;
}
.gradient__bg{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #202020, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #202020, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.gradient__text{
       background:var(--gradient-text);
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}         
.section__padding{
    padding: 4rem 6rem;
}
.section__margin{
    margin: 4rem 6rem;
}
.scale-up-center{
    -webkit-animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;
    animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
}

 @-webkit-keyframes scale-up-center{
     0%{
         -webkit-transform:scale(.5);transform:scale(.5)
        }
    100%{
        -webkit-transform:scale(1);transform:scale(1)
    }
}
@keyframes scale-up-center{
    0%{
        -webkit-transform:scale(.5);transform:scale(.5)
    }
    100%{
        -webkit-transform:scale(1);transform:scale(1)
    }
}

@media screen and (max-width:700px){
    .section__padding{
        padding: 4rem;
    }
    .section__margin{
        margin: 4rem;
    }
}
@media screen and (max-width:550px){
    .section__padding{
        padding: 4rem 2rem;
    }
    .section__margin{
        margin: 4rem 2rem;
    }
}