@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Manrope:wght@300&family=Patua+One&family=Readex+Pro&family=Spicy+Rice&display=swap');

*{
box-sizing: border-box;
}
body{
  font-family: 'Readex Pro', sans-serif;
}
#footer{
  background: #131313;
  color: white;
  padding: 8px;
}

#footer p {
  opacity: 0.6;
  text-align: left;
  align-content: center;
  margin-top: 10px;
}
.nav_{
  background: #131313;
}
.word { 
  font-family: 'Readex Pro', sans-serif;
  color: #ebe9e9;
  line-height: 1.4em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 24px;
}
/* .word:before {
  content: '';
  background-color: white;
  width: 1px;
  height: 0.8em;
  position: absolute;
  top: 10px;
  bottom: 5px;
  right: 7px;
} */

.name{
  font-family: 'Readex Pro', sans-serif;
  color: #dd1f1fc2;  
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.banner{
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 40px 0 40px 0;
}
.banner_2{
  height: 450px;
  display: flex;
  align-items: center;
}
.banner img{
  margin: auto;
}
.text_name{
  color: #c2bbbb;
  font-size: 24px;
  display: block;
}
.text_name1{
  color: #c2bbbb;
  display: inline;
  background-color: #dd1f1f;
  font-size: 30px;
  flex-wrap: wrap;
  padding: 10px;
}
.contact{
  color: #c2bbbb;
  padding: 20px;
}
.contact div{
  display: inline-block;
}
.contact i{
  padding: 10px;
}
.wsp{
  text-decoration: none;
}
.about{
  background: #131313;
}
.image{
  display: flex;
  align-items: center;
}
.texts{
  margin: auto;
  padding: 15px;
}
.projects-text{
  color: #ebe9e9;
}
.img_project1{
  border-radius: 5px;
}
.text_personal{
  color: #c2bbbb;
  background-color: #131313;
  padding: 10px;
  font-size: 20px;
}