.portfolio__about{
    display: flex;
    flex-direction: column;

    padding: 2rem;
    
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #202020, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #202020, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.portfolio__about-info {
    display: flex;
}
.portfolio__about-info .portfolio__about-container__about {
    margin: 0;
}
.portfolio__about-info .portfolio__about-container_about-text {
    max-width: 700px;
}
.portfolio__about-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}
.portfolio__about-head h1 {
    font-family: var(--font-family);
    font-weight: 800;
    max-width: 510px;
    font-size: 34px;
    line-height: 45px;
    color: #fff;
}
.portfolio__about-head p {
    font-family: var(--font-family);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}
.portoflio__about-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}
.portoflio__about-container .portfolio__about-container__about {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}
.portfolio__about-container .portfolio__about-container_about-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .portfolio__about-head {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }
    .portfolio__about-head p {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 650px) {
    .portfolio__about-info .portfolio__about-container__about {
        flex-direction: column;
    }
    .portfolio__about-info .portfolio__about-container_about-text {
        margin-top: 0.5rem;
    }
    .portfolio__about-head h1 {
        font-size: 28px;
        line-height: 40px;
    }
}
@media screen and (max-width: 350px) {
    .portfolio__about-container .portfolio__about-container__about {
        margin: 1rem 0;
        min-width: 100%;
    }
}